<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= rest.name %></title>
</head>
<body>
    <%- include('./partials/nav') %>
  <h1>Home Page</h1>
  <h2><%= rest.name %></h2>
  <p>Address: <%= rest.address %></p>
  <p>Is Open?: <%= rest.isOpen %></p>
  <p>Phone: <%= rest.phone %></p>
</body>
</html>
